@model JobBoardMVC.Models.SavedCompany

@{
    ViewBag.Title = "DeleteCompany";
}

<h2>Delete Company</h2>

<h3>Are you sure you want to delete this company?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeleteCompany" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "DisplayCompanies")
        </div>
    }
</div>
