@model JobBoardMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "JobPDX Registration";
    Layout = "../Shared/_Layout.cshtml";
    
}

<style>

    .container {
        
    }

    .form-title {
        color: #555;
        font-size: 18px;
        font-weight: 500;
        display: block;
    }

    .form-register {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-register .form-control {
        position: relative;
        font-size: 14px;
        height: auto;
        width: 100% !important; /* because mobile responsiveness properties make this 88% in Site.css. Must fix later*/
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-register .form-control:focus {
        z-index: 2;
    }

    .form-register input[type="text"] {
        margin-bottom: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-register input[type="password"] {
        margin-bottom: 10px;
        border-radius: 0 0 0 0;
    }

    .form-register input[type="password"] {
        margin-bottom: 10px;
        border-radius: 0 0 0 0;
     }

    .canvas {
        margin-top: 10px;
        padding: 20px 20px 20px 20px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    /*

    - Styles for an image or brand in the registration form...

    .profile-img {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        }

     */
    

</style>

<div class="wrapper col-sm-12 col-md-12" style="margin-top:15px">

<div class="container" style="font-family: 'Roboto', sans-serif;">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4"> <!-- This geometry has to be blended with overall layout -->
            <div class="canvas"> 
                <h3 class="text-center form-title">Sign&nbspup&nbspfor&nbspJobPDX</h3><hr />

@*Render the HTML Registration Form through Html.BeginForm*@

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal form-register", role = "form" }))
{
    @Html.AntiForgeryToken()



<div class="row">

    <div= class="form-group">
         @* @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" }) *@
        <div class="">
            @Html.TextBoxFor(m => m.Email, new { @type = "text", @class = "form-control", @placeholder = "Email" })
            </div>
        </div>

    <div class="form-group">
        @* @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" }) *@
        <div class="">
            @Html.PasswordFor(m => m.Password, new { @type = "password" , @class = "form-control" , @placeholder = "Password" })
        </div>
    </div>

    <div class="form-group">
        @* @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" }) *@
        <div class="">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @type= "password" , @class = "form-control", @placeholder = "Confirm Password" })
        </div>
    </div>

    <div class="form-group">
        <div class="">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="">
            <input type="submit" class="btn btn-primary btn-block" value="Create Account" />
        </div>
    </div>

</div>

} @*End Form*@

            </div><!--End canvas --> 
        </div><!--End column center -->
    </div><!-- End row -->
</div><!-- End container -->

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
