@using JobBoardMVC.Models

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, initial-scale=1.0">
    <link href="../Content/site.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet"><!-- Have to bundle this and cleanup bundle.config setup - bundles contain type errors and undeclared scripts which are still being handled by MVC.NET-->

    <title>JobPDX - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @*This was the beginnings of an attempt to add a pop-up login functionality when an
        unregistered user attempts to save a job or company. Successful logins seem to work
        correctly, but I ran into some issues in attempting to process failed logins. It's
        essentially a problem with trcking the model state on the return call from the controller
        I'm leaving the code here in case someone wants to give it another try. The idea was that
        the razor code would render the login page into the modal body and an improper save attempt
        would activate the modal.
        <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        @{
                            var loginModel = new LoginViewModel();
                            Html.RenderPartial("~/Views/Account/ModalLogin.cshtml", loginModel);
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>*@

    <div id="wrapper">

        @*<div class="navbar navbar-fixed-top"><!-- Begin Nav Bar-->*@
        <div class="container">
            @*<div class="navbar-collapse collapse">*@
            @Html.Partial("_LoginPartial")
            @*This calls _LoginPartial as a way of persisting the same layout through multiple pages.
                LoginPartial is the logic for the NavBar and how the links appear and disappear based
                on who is logging in.*@
            @*</div>*@
        </div>
        @*</div><!-- End Nav Bar-->*@

        <div class="container body-content">
            <!-- Begin Body Content-->
            @RenderBody()
            <!-- End Body Content-->
        </div>

        <footer>
            <div class="container-fluid">
                <!-- Footer Container-fluid -->
                <div class="row">
                    <!-- Footer Top Row-->
                    <div class="col-sm-12">
                        <div class="col-sm-6 footer-center">
                            <!-- Left Column-->
                            <p>
                                <emphasis>Site&nbspDevelopment:&nbsp</emphasis> <!-- &nbsp = non-breaking space -->
                                <a href="http://www.learncodinganywhere.com" target="_blank" style="padding-left:0">The&nbspTech&nbspAcademy</a><!-- external style sheet value = 15px -->
                            </p>
                        </div><!-- End Left Column-->
                        <div class="col-sm-6 footer-center">
                            <!-- Right Column-->
                            <p class="pull-right cancel">
                                <a href=""> @Html.ActionLink("About", "About", "Home") </a> <!--ASP.NET Helper Methods need to be resolved: bundle.config and jquery tables script exceptions handled-->
                                <a href=""> @Html.ActionLink("Contact", "Contact", "Home") </a>
                                <a href=""> @Html.ActionLink("FAQ", "faq", "Home") </a> <!-- DOES NOT EXIST!!! -->
                            </p>
                        </div><!-- End Right Column-->
                    </div>
                </div><!-- End Footer Top Row-->
                <div class="row">
                    <!-- Footer Bottom Row-->
                    <div class="col-sm-12">
                        <div class="col-sm-6 footer-center">
                            <!-- Left Column-->
                            <p>
                                <a href=""> @Html.ActionLink("Privacy", "Privacy", "Home") </a>
                                <a href=""> @Html.ActionLink("Terms of Service", "TOS", "Home") </a>
                            </p>
                        </div><!-- End Left Column-->
                        <div class="col-sm-6 footer-center">
                            <!-- Right Column-->
                            <p class="small pull-right cancel" style="color: #91d0b2;">&copy;@DateTime.Now.Year&nbspJobPDX</p>
                        </div><!-- End Right Column-->
                    </div>
                </div><!-- End Footer Bottom Row-->
            </div><!-- End Footer Container-fluid -->
        </footer>

    </div><!-- End body wrapper-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
    @* Gives window the name "JobPDX" so that it can be targeted by login call from Company Details page *@
        $(document).ready(function () {
            window.name = "JobPDX";
        });
    </script>
</body>
</html>